.hero-image {
  background-image: url("black-coffee-business-cellphone-860379.jpg")
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
